*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.central-container{
  display: flex;
  flex-wrap: wrap;

  margin: auto;
  margin-top: 30px;
}

.square{
  width: calc(100% / 7);
  height: calc(90vh / 6);
  background-color: violet;
  margin: 15px;
}

.square:hover{
  cursor: pointer;
}
